
/* 
html5doctor.com Reset Stylesheet
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*-  MAIN
----------------------------------------------------------------------*/
html { 
        background-color: #F8F8F8;
}

#container { 
        width: 100%; 
}
.screenplay { 
	position: relative; 
	height: 580px; 
	width: 58.56515373352855%;                 /* 800/1366 */  
	margin: auto;
	padding: 0;
}
#logo {  
        position: relative; 
	margin-top: 170px; 
	margin-bottom: 0px; 
	width: 100%; 
	text-align: center; 
	display: block; 
	padding: 0; 
	display: block; 
}
#logo img { 
        height: auto; 
	max-width: 100%; 
	min-width: 100px; 
}
.fade-in { 

} 
body {
    font-family: "ff-meta-serif-web-pro", "Times New Roman", "Times", "serif";
}
ul {
	list-style: none;
}
#mc_embed_signup { 

	position: relative;
	margin-top: 75px;
	margin-bottom: 20px; 
	width: 100%; 
	text-align: center; 
}

.button { 
	font-size: 100%; 
	letter-spacing: 0px;
	height: 36px; 
	padding: 0;                                 /* 2/242 */
	background-color: black; 
	border-color: black; 
	color: white;
	margin-left: 0; 
	min-width: 20px; 
	
}
.required-email {
	color: #ffff; 
	width: 15.0805270863836%;                  /* 206/1366 */ 
	padding: 7px .36603221083455% 7px .36603221083455%;      /* 5/1366 */
	font-family: "Times New Roman", "Arial"; 
	font-size: 100%;
	height: 18px;
	min-width: 150px;
}
#social { 
        width: 100%;
	text-align: center; 
}
#social ul li { 
	width: 110px; 
	display: inline-block; 

} 
	
/*-  MEDIA QUERIES
----------------------------------------------------------------------*/
@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
    html {
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	}
}
/*
  Tiny & Tinier Screens
*/
@media screen and (max-width: 480px), screen and (max-width: 360px) {
    #social ul li { 
	width: 90px; 
    }
    .button {
	border-radius: 0; 
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	-webkit-appearance: none; 
    }
    .required-email {
 	border-radius: 0px; 
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
    }   
    .screenplay {
	width: 100%; 
	height: auto; 
    }
}
 
    
